html{
  background-color: greenyellow;
}
body
{
  color: white;
  background:lightseagreen;
  text-align: center;
  margin:70px;
  border-radius: 30px;
  border:gray 5px ridge;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px ridge black;
  width: 350px;
  height: 300px; 
}
#result_hand_name 
{
  color: black;
}
.hand_name
{
  font-size: 40px;
}
.hand
{
  font-size:48px;
}
.heading{
  font-size:18px;
  border-radius:10px;
  letter-spacing:10px;
}
label{
  font-size:14px;
  color:green;
  padding:6px;
  border-radius:10px;
  background-color:white;
}
.camera_div,.snapshot_div{
  background-color: white;
  border-radius:20px;
  padding:6px;
}
.button{
  color:green;
  font-size: 14px;
  font-weight: bold;
}